<ion-app>
  <!-- <ion-menu side="start" contentId="main-content"> -->

  <ion-menu type="reveal" content-id="main-content">

    <ion-content>
      <ion-list id="inbox-list">
        <img src="../../assets/head.jpg" height="80px"  style="margin-top: 6px;" alt="Image" style="margin: 1rem;">
        <ion-note>Powered by Chronicles SDC</ion-note>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="home" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name="desktop-outline"  slot="start" ></ion-icon>
           
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Menu Items</ion-list-header>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/test" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name="pencil-outline"  slot="start" ></ion-icon>
            <ion-label>Take Test</ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/history" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name="newspaper-outline"  slot="start" ></ion-icon>
            <ion-label> Test History</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/problem" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name="help-outline"  slot="start" ></ion-icon>
            <ion-label> Report a Problem</ion-label>
          </ion-item>
        </ion-menu-toggle>



        <!-- <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/settings" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" ios="settings-outline" md="settings-outline'"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle> -->


        <ion-menu-toggle auto-hide="false">
          
          <ion-item routerDirection="root"  (click)="presentAlert()"  lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name="exit-outline" slot="start" ></ion-icon>
           <ion-label>Exit App</ion-label>
          </ion-item>
        </ion-menu-toggle>



        

     

      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- </ion-menu> -->


  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>