
<ng-container *ngFor="let ind of marking; let i= index">
  <div class="testarea">
  
    <div class="quest">
      <h4>Question {{ i + 1 }} </h4>
      <h5> {{ ind.questionText }} </h5>
      <div *ngIf="ind.images">
        <ion-button fill="outline" (click)="openModal(ind.images.toUpperCase())">See Diagram</ion-button>
      </div>
     
    </div>
    <div class="options">
      <ion-list>
        <ion-radio-group value="option{{ind.id}}" (ionChange)="handleRadioChange($event, ind.id)">
  
          <ion-item lines="none">
            <ion-radio value="A" justify="space-between">
              <p style="white-space: normal; ">(A)&nbsp; {{ ind.optionA }} </p>
            </ion-radio>
          </ion-item>
  
  
  
  
          <ion-item lines="none">
            <ion-radio value="B" justify="space-between">
              <p style="white-space: normal; ">(B)&nbsp; {{ ind.optionB }} </p>
            </ion-radio>
          </ion-item>
  
  
  
  
          <ion-item lines="none">
            <ion-radio value="C" justify="space-between">
              <p style="white-space: normal; ">(C)&nbsp; {{ ind.optionC }} </p>
            </ion-radio>
          </ion-item>
  
  
  
  
          <ion-item lines="none">
            <ion-radio value="D" justify="space-between">
              <p style="white-space: normal; ">(D)&nbsp; {{ ind.OptionD }}</p>
            </ion-radio>
          </ion-item>
  
  
        </ion-radio-group>
      </ion-list>
  
    </div>
  
  
  </div>
</ng-container>
<!-- 
  <ion-modal #modal trigger="myModal">
    <ng-template>
      <ion-content>
        <ion-img [src]="modalImage" [alt]="modalImage"></ion-img>
      </ion-content>
    </ng-template>
  </ion-modal> -->

  <ion-modal #modal trigger="myModal">
    <ng-template>
     
  
      <ion-content>
          <ion-button fill="outline" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        <ion-img [src]="modalImage" [alt]="modalImage"></ion-img>
      </ion-content>
    </ng-template>
  </ion-modal>